# ==============================
# Dependencies
# ==============================
node_modules/
**/node_modules/

# ==============================
# Environment Variables
# ==============================
.env

# ==============================
# Logs
# ==============================
logs/
*.log
npm-debug.log*

# ==============================
# Build Output
# ==============================
dist/
build/
coverage/
out/

# Vite
vite.svg

# ==============================
# TypeScript
# ==============================
*.tsbuildinfo

# ==============================
# Cache
# ==============================
.cache/
.parcel-cache/
.eslintcache

# ==============================
# Operating System
# ==============================
.DS_Store
Thumbs.db
Desktop.ini

# ==============================
# Temporary Files
# ==============================
*.tmp
*.temp
*.swp
*.swo

# ==============================
# Runtime Files
# ==============================
*.pid
*.seed